<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="dbcon" connectionString="server=a2nlmysql19plsk.secureserver.net;user id=supergradefood;password=Kamil786@;database=supergradefood;Min Pool Size=1;Max Pool Size=5000;Connect Timeout=2000;" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <machineKey decryptionKey="D8FAF2FE927064A99865B757F42EFEBF97CC0ECDB6BCF9AB26E8273850F1BC9C" validationKey="A72128B0C52C04A1B06B2FFC3F2347F32F091B55" />
    <compilation debug="true" targetFramework="4.5" tempDirectory="" />
    <httpRuntime requestValidationMode="2.0" targetFramework="4.5" maxRequestLength="1048554576" />
    <!--<pages enableEventValidation="true"/>-->
    <pages controlRenderingCompatibilityVersion="4.0" enableEventValidation="true" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>